{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/geral.css'%}" rel="stylesheet" />
    <link href="{% static 'css/login.css'%}" rel="stylesheet" />
    <title>Login</title>
</head>

<body>
    <div id="container">
        <div class="tab-buttons">
            <button class="tab-btn active" content-id="cadastro">
                CADASTRO
            </button>
            <button class="tab-btn" content-id="login">
                LOGIN
            </button>
        </div>

        <div class="tab-contents">
            <div class="content" id="cadastro">

                <!-- <div class="infos">

                    <p class="content-description">cadastro</p>


                </div> -->

                <div class="container__login">

                    <form method="post" action="{% url 'cadastro_funcionario' %}" class="log">
                        {% csrf_token %}

                        <label class="input">Nome</label>
                        <input id="nome" name="nome" type="text" placeholder="Digite seu nome">

                        <label class="input" for="">Cargo</label>
                        <input id="cargo" name="cargo" type="text" placeholder="Digite o cargo">

                        <label class="input" for="">Telefone</label>
                        <input id="telefone" name="telefone" type="text" placeholder="Digite telefone">

                        <label class="input" for="">Senha</label>
                        <input id="senha" name="senha" type="password" placeholder="Digite sua senha">

                        <button type="submit" class="btn_login">Inscreva - se</button>
                    </form>

                </div>


            </div>
            <div class="content" id="login">
                <div class="container__login">

                    <form method="post" action="{% url 'autenticar_funcionario' %}" class="log">
                        {% csrf_token %}

                        <label class="input" for="">Nome</label>
                        <input id="nome" name="nome" type="text" placeholder="Digite seu nome">

                        <label class="input" for="">Senha</label>
                        <input id="senha" name="senha" type="password" placeholder="Digite sua senha">

                        <button class="btn_login">Entrar</button>
                    </form>

                </div>



            </div>
        </div>
    </div>

    <script>
        const tabs = document.querySelectorAll('.tab-btn');

        tabs.forEach(tab => tab.addEventListener('click', () => tabclicked(tab)));

        const tabclicked = (tab) => {
            tabs.forEach(tab => tab.classList.remove('active'));
            tab.classList.add('active');

            const contents = document.querySelectorAll('.content');
            contents.forEach(content => content.classList.remove('show'));

            const contentId = tab.getAttribute('content-id');
            const content = document.getElementById(contentId);

            content.classList.add('show');

        }

        const currentActiveTab = document.querySelector('.tab-btn.active');
        tabclicked(currentActiveTab);
    </script>

    {% if messages %}
    {% for message in messages %}
    <div style="position: absolute; top: 40px;">
        <label>{{ message }}</label>
    </div>
    {% endfor %}
    {% endif %}



</body>

</html>