{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link href="{% static 'css/produto.css'%}" rel="stylesheet" />
    <link href="{% static 'css/geral.css'%}" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

    <div class="navbar bg-body-tertiary ">

        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand" id="ColorTitleNav" href="#" style="font-size: 32px;">Produtos</a>
            <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <img src="{% static 'images/carrinho_icone.png' %}" alt="some text" width=60 height=40>
            </button>
        </div>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="menu" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a href="/produto"
                            id="ColorTitleNav" class="nav-link active; navbar-brand">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/entrada" id="ColorTitleNav" class="nav-link active; navbar-brand">Compras</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" id="ColorTitleNav" class="nav-link active; navbar-brand">Vendas</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" id="ColorTitleNav" class="nav-link active; navbar-brand">Funcionários</a>
                    </li>
                    <br>
                    <br>
                    <li class="nav-item">
                        <a href="file:///C:/Users/Samsung/Desktop/TCC%20IMPACTA/Crud%20Completo/TelaPrincipal.html"
                            id="ColorTitleNav" class="nav-link active; navbar-brand">Tela Principal</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div style="background-color: lightskyblue; height: 560px">
        <div class="container-fluid">
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-12">
                    <br>
                    <button onclick="adicionarProduto()" type="button" data-bs-toggle="modal"
                        data-bs-target="#add-edit-produto" class="btn btn-warning float-right">Adicionar
                        Produtos</button>
                </div>
            </div>
            <br>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                    <table class="table table-light table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Codigo Produto</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Descricao</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Fornecedor</th>
                                <th scope="col">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in produtos %}
                            <tr class="linha-produto" data-id="{{ p.ID_Produto }}" data-nome="{{ p.Nome }}"
                                data-descricao="{{ p.Descricao }}" data-categoria="{{ p.Categoria }}"
                                data-fornecedor="{{ p.Fornecedor }}">
                                <td scope="row">{{ p.ID_Produto }}</td>
                                <td scope="row">{{ p.Nome }}</td>
                                <td scope="row">{{ p.Descricao }}</td>
                                <td scope="row">{{ p.Categoria }}</td>
                                <td scope="row">{{ p.Fornecedor }}</td>
                                <td scope="row"><img onclick="editarProduto()" class="btn-abrir-modal" style="cursor: pointer;"
                                        src="{% static 'images/edit.svg' %}" data-bs-toggle="modal"
                                        data-bs-target="#add-edit-produto" width="25px" height="auto" alt="Editar" />
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################### -->
    <!-- MODAIS -->

    <!-- MODAL DE CADASTRO DE PRODUTOS -->
    <div class="modal fade" id="add-edit-produto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <div class="container">
                        <div class="row">
                            <div class="col text-start">
                                <h5 class="modal-title" id="exampleModalLongTitle">Produto</h5>
                            </div>
                            <div class="col text-end">
                                <img style="cursor: pointer;" data-bs-dismiss="modal"
                                    src="{% static 'images/exit.svg' %}" width="25px" height="auto" />
                            </div>
                        </div>
                    </div>

                </div>

                <div id="post-form">
                    <div class="modal-body">
                        <form method="post" action="{% url 'produto' %}">
                            {% csrf_token %}

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col" id="id-produto-view">
                                        <label>Codigo do Produto</label>
                                        <input readonly id="id" name="id" class="form-control" type="text" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Nome</label>
                                        <input id="nome" name="nome" class="form-control" type="text" />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <label>Descricao</label>
                                        <input id="descricao" name="descricao" class="form-control" type="text" />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <label>Categoria</label>
                                        <input id="categoria" name="categoria" class="form-control" type="text" />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <label>Fornecedor</label>
                                        <input id="fornecedor" name="fornecedor" class="form-control" type="text" />
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- ######################### -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script>
        var botoesAbrirModal = document.querySelectorAll('.btn-abrir-modal');
        botoesAbrirModal.forEach(function (botao) {
            botao.addEventListener('click', function () {

                var linha = this.closest('.linha-produto');

                var id = linha.dataset.id;
                var nome = linha.dataset.nome;
                var descricao = linha.dataset.descricao;
                var fornecedor = linha.dataset.fornecedor;
                var categoria = linha.dataset.categoria;

                document.getElementById('id').value = id;
                document.getElementById('nome').value = nome;
                document.getElementById('descricao').value = descricao;
                document.getElementById('fornecedor').value = fornecedor;
                document.getElementById('categoria').value = categoria;
            });
        });

        function adicionarProduto() {
            document.getElementById('id').value = "";
            document.getElementById('nome').value = "";
            document.getElementById('descricao').value = "";
            document.getElementById('fornecedor').value = "";
            document.getElementById('categoria').value = "";

            document.getElementById('id-produto-view').style.display = "none";
        }

        function editarProduto() {
            document.getElementById('id-produto-view').style.display = "none";
        }
    </script>

</body>

</html>